<header class="fixed top-0 left-0 right-0 bg-white shadow z-50">
    <div class="container mx-auto px-4 py-2">
        <div class="flex items-center justify-between">
            <div class="flex flex-col">
                <div class="flex items-center">
                    <div class="relative h-12 w-12 rounded-full bg-indigo-600 border-gray-900 border-4 ml-2 mr-1 overflow-hidden">
                        <img src="public/assets/caricaturePortraitTransparent.png" alt="Brian Valachovic caricature" class="h-10 w-10 rounded-full object-cover" />
                    </div>
                    <h1 class="text-2xl font-bold text-indigo-600 mr-1">Brian</h1>
                    <h1 class="text-2xl font-bold text-gray-900">Valachovic</h1>
                </div>
                <span class="text-gray-600 italic text-sm ml-16" style="margin-top: -0.875rem;">Product Leader</span>
            </div>
            <!-- Mobile Menu Button -->
            <button id="mobile-menu-button" class="lg:hidden text-gray-600 hover:text-indigo-600 focus:outline-none">
                <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>

            <!-- Desktop Navigation -->
            <nav class="hidden lg:flex items-center">
                <ul class="flex space-x-10">
                    <li><a href="#home" class="nav-link text-gray-600 hover:text-indigo-600 text-base font-semibold">Home</a></li>
                    <li><a href="#portfolio" class="nav-link text-gray-600 hover:text-indigo-600 text-base font-semibold">Case Studies</a></li>
                    <li><a href="#philosophy" class="nav-link text-gray-600 hover:text-indigo-600 text-base font-semibold">Philosophy</a></li>
                    <li><a href="#methodology" class="nav-link text-gray-600 hover:text-indigo-600 text-base font-semibold">Methodology</a></li>
                    <li><a href="#about" class="nav-link text-gray-600 hover:text-indigo-600 text-base font-semibold">About</a></li>
                    <li><a href="#contact" class="nav-link text-gray-600 hover:text-indigo-600 text-base font-semibold">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Mobile Menu -->
    <div id="mobile-menu" class="hidden lg:hidden bg-white border-t border-gray-200">
        <nav class="container mx-auto px-4 py-4">
            <ul class="flex flex-col space-y-4">
                <li><a href="#home" class="block text-gray-600 hover:text-indigo-600 text-2xl font-semibold text-center">Home</a></li>
                <li><a href="#portfolio" class="block text-gray-600 hover:text-indigo-600 text-2xl font-semibold text-center">Case Studies</a></li>
                <li><a href="#philosophy" class="block text-gray-600 hover:text-indigo-600 text-2xl font-semibold text-center">Philosophy</a></li>
                <li><a href="#methodology" class="block text-gray-600 hover:text-indigo-600 text-2xl font-semibold text-center">Methodology</a></li>
                <li><a href="#about" class="block text-gray-600 hover:text-indigo-600 text-2xl font-semibold text-center">About</a></li>
                <li><a href="#contact" class="block text-gray-600 hover:text-indigo-600 text-2xl font-semibold text-center">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
